<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nome:</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      placeholder="Insira seu nome"
    />
    <div *ngIf="submitted && dataForm.controls['name'].errors" class="error">
      O nome é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Insira seu email"
    />
    <div *ngIf="submitted && dataForm.controls['email'].errors" class="error">
      Um email válido é obrigatório.
    </div>
  </div>

  <div class="form-group" *ngIf="person?.id">
    <label for="id">ID:</label>
    <input type="text" id="id" formControlName="id" readonly class="readonly" />
  </div>
<div class="forms-options text-center">
  <button pButton type="button" (click)="goToHome()" severity="danger">Cancelar</button>
  <button pButton type="submit" severity="success">{{ person?.id ? "Editar" : "Cadastrar" }}</button>
</div>
</form>

