.input-filter {
  width: 30%;
}
.block-options {
  display: flex;
  justify-content: space-around;
  margin-block: 2rem;
  margin-inline: 2rem;
}

.options-buttons {
  display: flex;
  justify-content: space-evenly;
}
